= form.input :prefix, :required => true
= form.input :first_name, :required => true
= form.input :middle_name
= form.input :last_name, :required => true
= form.input :type, :as => :hidden

= form.button :submit
\|
= link_to 'Cancel', cancel_url
