%p#notice
  = notice

- if @entity.class == EntityMaintenance::Person
  %dl
    %dt Name:
    %dd
      = @entity.full_name
- elsif @entity.class == EntityMaintenance::Organization
  %dl
    %dt Name:
    %dd
      = @entity.name
  %dl
    %dt Industry:
    %dd
      = @entity.industry

%dl
  %dt
    Contact Info:
    \|
    = link_to 'Add Contact Info', new_entity_contact_info_path(@entity)
  %dd
    = render 'entity_maintenance/contact_infos/table', :entity => @entity
%dl
  %dt
    Addresses
    \|
    = link_to 'Add Address', new_entity_address_path(@entity)
  %dd
    = render 'entity_maintenance/addresses/table', :entity => @entity


= link_to 'Edit', edit_entity_path(@entity)
\|
= link_to 'Destroy', entity_path(@entity), :method => :delete, :data => { :confirm => 'Are you sure?' }
\|
= link_to 'Back', entities_path
